html,
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  height: 100%;
  width: 100%;
  background: #ddd;
  overflow-y: hidden;
}

body {
  text-align: center;
}

.controls,
.started .info {
  display: none;
}

.started .controls {
  display: block;
  text-align: left;
}

.wrapper {
  display: inline-block;
  background: #ffffff;
  width: 300px;
  padding: 20px;
}

.controls div label {
  width: 100px;
}

.controls > *,
.controls .control input,
.controls .control select,
.wrapper .graph,
.wrapper .sequencer {
  display: none;
}

.wrapper.graph .graph {
  display: block;
}
.wrapper.sequencer .sequencer {
  display: block;
}

.controls.playable .play {
  display: block;
}
.controls.types .types {
  display: block;
}
.controls.control1in .control:nth-child(3),
.controls.control1val .control:nth-child(3) {
  display: block;
}
.controls.control1in #control1in {
  display: inline;
}
.controls.control1val #control1val {
  display: inline;
}
.controls.control2in .control:nth-child(4),
.controls.control2val .control:nth-child(4) {
  display: block;
}
.controls.control2in #control2in {
  display: inline;
}
.controls.control2val #control2val {
  display: inline;
}
.controls.control3in .control:nth-child(5),
.controls.control3val .control:nth-child(5) {
  display: block;
}
.controls.control3in #control3in {
  display: inline;
}
.controls.control3val #control3val {
  display: inline;
}
.controls.control4in .control:nth-child(6),
.controls.control4val .control:nth-child(6) {
  display: block;
}
.controls.control4in #control4in {
  display: inline;
}
.controls.control4val #control4val {
  display: inline;
}
.controls.control5in .control:nth-child(7),
.controls.control5val .control:nth-child(7) {
  display: block;
}
.controls.control5in #control5in {
  display: inline;
}
.controls.control5val #control5val {
  display: inline;
}

input[type="number"] {
  width: 100px;
}

a.home,
a.sourceCode {
  display: inline-block;
  cursor: pointer;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -99999px;
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
}

a.home {
  background-position: -736px -32px;
  position: relative;
  left: 136px;
  top: 2px;
}

a.sourceCode {
  background-position: -736px 0;
  position: relative;
  left: 136px;
  top: 2px;
}

ol {
  font-family: monospace;
  white-space: pre;
}

li::marker {
  font-size: 10px;
  color: grey;
}
