html,
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  height: 100%;
  width: 100%;
  background: #ddd;
  overflow-y: hidden;
}

body {
  text-align: center;
}

div {
  margin-bottom: 8px;
}

button {
  background: transparent;
  background-color: transparent;
  border: 1px solid gray;
  padding: 4px;
}

button.microphone {
  box-shadow: 0px 4px black;
}

button.oscillator {
  box-shadow: 0px 4px red;
}

button.filter {
  box-shadow: 0px 4px green;
}

button.delay {
  box-shadow: 0px 4px blue;
}

button.echo {
  box-shadow: 0px 4px yellow;
}

button.gain {
  box-shadow: 0px 4px magenta;
}

button.playing {
  animation: blink 1s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  50% {
    box-shadow: 0px 4px white;
  }
}

.sequencer button.playing {
  box-shadow: 0px 4px #00bbbb;
}

button[data-selected="true"],
button.selected {
  background: black;
  color: white;
  border-bottom-color: white;
  font-weight: 700;
}

textarea {
  width: 280px;
  height: 200px;
}

ol {
  font-family: monospace;
  white-space: pre;
}

li::marker {
  font-size: 10px;
  color: grey;
}

a.home,
a.sourceCode {
  display: inline-block;
  cursor: pointer;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -99999px;
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
}

a.home {
  background-position: 0 -32px;
  position: relative;
  left: 146px;
  top: -6px;
}

a.sourceCode {
  background-position: 0 0;
  position: relative;
  left: 146px;
  top: -6px;
}

.options button {
  width: 24px;
}

[data-hide="true"],
.hide {
  display: none !important;
}

.controls,
.started .info {
  display: none;
}

.started .controls {
  display: block;
  text-align: left;
}

.wrapper {
  display: inline-block;
  background: #ffffff;
  width: 300px;
  padding: 8px 30px 16px 30px;
}

.controls div label {
  width: 100px;
}

.header {
  margin-top: 12px;
}

.header .name {
  display: inline-block;
  width: 130px;
}

.wrapper.graph .graph {
  display: block;
}
.wrapper.sequencer .sequencer {
  display: block;
}

.controls.types .types {
  display: block;
}

.header,
.control {
  text-align: left;
}

.control .short {
  display: inline-block;
  width: 35px;
}

.control .long {
  display: inline-block;
  width: 100px;
}

.control select,
.control input {
  width: 150px;
  max-width: 150px;
  padding: 0px;
}
